@model BlogJoaoPedroLeagueofLegends.ViewModel.PostsViewModel
@{
    ViewData["Title"] = "Post";
    int cont = 0;
}

<section>
    <div class="tabela">
        <div class="contatoText item">
            <h1 class="item">@Model.Titulo</h1>
            <h2 class="item">@Model.SubTitulo</h2>
            <div class="TextoSize item">
                @Html.Raw(Model.Post)
            </div>
        </div>
        <aside class="listaItemCon item tabela">
            <h2>Posts sobre a mesma Categoria:</h2>
            <ul>
                @foreach (var posts in ViewBag.PostsCategoria)
                {
                    if (cont <= 2 & posts.PostId != Model.PostId)
                    {
                        <li>
                            <aside class="item">
                                <h3>@posts.Categoria.descricao</h3>
                                <img src="@posts.ImgPost" alt="Resultado de imagem para imagem LeagueofLegends" />
                                <h2>@posts.Titulo</h2>
                                <div>
                                    <p>
                                        @posts.PreviaTexto
                                    </p>
                                </div>
                                <a href="/Posts/Post/@posts.PostId">Ler mais.</a>
                            </aside>
                        </li>
                    }
                    cont++;
                }
            </ul>
        </aside>
    </div>
</section>

